.modal.show-modal {
    display: block;
    position: absolute;
    top: 15%;
}

.add-photo-btn {
    padding-top: 10px;
}

#webcam-warning {
    margin-left: 10px;
    font-size: 9px;
}

@media screen and (max-width: 600px) {
    .add-photo-btn {
        text-align: center;
    }
}
