$break-small: 600px;
.edit-user {
    &.title {
        font-weight: 200;
        padding-bottom: 5px;
    }

    &.submit-btn {
        margin-top: 30px;
        font-weight: 200;
    }

    &.toaster {
        background: #607d8b;
        color: white;
        text-align: center;
        font-weight: 200;
        width: 250px;
        font-family: Roboto;
        letter-spacing: .5px;
        border-radius: 2px;
    }

    @media screen and (max-width: $break-small) {
        &.toaster {
            width: 120px;
            margin-left: 120px;
            font-size: 1rem;
            font-family: Roboto;
            letter-spacing: .5px;
            border-radius: 2px;
        }
    }
}
