.navbar-fixed {
  margin-bottom: 30px;
  nav {
    a, i, img {
      cursor: pointer;
    }

    a.brand-logo.ugram-logo {
      left: 20%;
    }

    i {
      color: black;
      font-size: x-large;
    }

    #nav-bar-logo {
      vertical-align: middle;
    }

    .material-icons, .profile.chip {
      margin-right: 50px;
    }
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 10;
  }

  .dropdown-notifications:hover .dropdown-content {
      display: block;
  }
}
