.picture-card {
    .card {
        .card-content {
            padding: 15px;

            .picture-comment {
                margin-top: 15px;

                .username {
                    margin-right: 15px;
                    font-weight: bold;
                }

                .even-element {
                    background: #f9faff;
                }

                .comment-input {
                    margin-bottom: 0px;
                }
            }

            .picture-tags {
                margin-bottom: 0px;
            }
        }
    }
}