$break-small: 600px;

.user {
    &.username {
        font-weight: 200;
        padding-bottom: 0;
        font-size: 22px;
    }

    &.name {
        padding-bottom: 1.5%;
    }

    &.info {
        margin: 0;
        padding-top: 0.3%;
        font-weight: 200;
    }
}

.profile-image {
    max-width: 160px;
    max-height: 160px;
}

.info-margin {
    margin-top: 13px;
}

.parameter-icon {
    font-size: 20px;
    color: darkgrey;
    padding-left: 10px;
    margin-bottom: 3px;
    vertical-align: bottom;
}

@media screen and (max-width: $break-small) {
    .user {

        &.username {
            font-size: 18px;
            text-align: center;
            margin-top: 0;
        }

        &.username-edit {
            margin-left: 40px;

        }

        &.name {
            padding-bottom: 0;
            text-align: center;
        }

        &.info {
            padding-top: 0;
            text-align: center;
        }

        &.parameter-icon {
            margin: 0;
        }
    }

    .info-margin {
        margin-top: 0;
    }
}
