@import '_general';
@import '_nav-bar';
@import '_home';
@import '_user';
@import '_user-list';
@import '_pictureCard';
@import '_profileChip';
@import '_pictureTag';
@import '_editUser';
@import '_userPictures';
@import '_addPhoto';
@import '_searchPage';

html,
#app,
body {
    margin: 0;
    height: 100%;
}
